*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --Main-Color: #120e28;
  --Secondary-Color: #4fbccb;
}
html {
  scroll-behavior: smooth;
  
}
body {
  font-family: "Courier New", Courier, monospace;
}
.nav_portfolio {
  background-color: var(--Main-Color);
  color: var(--Secondary-Color);
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid black;
}
.phrase {
  word-break: normal;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
}
.footer_portfolio {
  font-size: 20px;
  font-weight: bolder;
  background-color: var(--Main-Color);
  color: var(--Secondary-Color);
  padding-bottom: 40px;
  padding-top: 15px;
  text-align: center;
}
.user_wrapper {
  margin-top: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.user {
  border-radius: 100%;
  width: 100px;
}
.tech_imgs {
  width: 80px;
}
.general_imgs {
  width: 50px;
}
.images_Portfolio{
  object-fit: cover;
  width: 250px;
}
.user_info {
  margin-top: 20px;
  text-align: center;
  color: var(--Secondary-Color);
  background-color: var(--Main-Color);
  border-radius: 20px;
  padding: 20px;
  margin-bottom:20px ;
}
.user_main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--Main-Color);
  opacity: 1;
  background-image: radial-gradient(#4fbccb 1.1px, transparent 1.1px),
    radial-gradient(#4fbccb 1.1px, #120e28 1.1px);
  background-size: 44px 44px;
  background-position: 0 0, 22px 22px;
  padding: 10px;
}
.img_portfolio--proyect{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}
.projects_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 10px;
}
#techStack {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  gap: 20px;
  position: relative;

  /*animation: slidetechStack 7s linear alternate infinite;*/
}
.tech_element{
  scroll-snap-align: center;
}

@keyframes slidetechStack {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(500px);
  }
}
.projects {
  text-align: justify;
  color: var(--Secondary-Color);
  background-color: var(--Main-Color);
  
  padding: 25px;
}
.Technologies {
  color: var(--Secondary-Color);
  background-color: var(--Main-Color);
}
.project_link {
  margin-top: 10px;
  padding: 10px;
  background: var(--Secondary-Color);
  color: var(--Main-Color);
  border-radius: 10px;
  margin-top: 10px;
  text-decoration: none;
  transition: all 0.2s;
}
.project_link:hover {
  background: var(--Main-Color);
  color: var(--Secondary-Color);
  box-shadow: 0px 2px 6px var(--Secondary-Color);
}
@media screen and (max-width: 600px) {

  
  .images_Portfolio{
    width: 150px;

  }
  .project_link{
    margin-bottom: 40px;
  }
  .projects_grid{
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: 1fr;
  }
  #techStack{
    flex-direction: column;  
  }
}
